<ion-view view-title="ARI">
    <ion-content id="inicio-contenido">

        <center>
            <div style="">
                <table class="table" id="center-table">
                    <tr>
                        <th colspan="2" style="border: none;">
                    <center>  <a style="color: #081e47; font-weight: bold; text-align: center; font-size: 14px; padding-top: 20px;" ui-sref="app.farmacia"><i class="icon ion-ios-medkit" style="color: red; font-size: 40px"></i>  <br>Farmacias</a></center>
                    </th>  
                    </tr>
                    <tr>
                        <th style="border: none;">
                    <center><a style="color: #081e47; font-weight: bold; text-align: center; font-size: 14px; padding-top: 20px;" href="#/app/medicamentoscomerciales"><i class="icon ion-medkit" style="color: #378ab6; font-size: 40px"></i>  <br>Medicamentos<br> Comerciales</a></center>
                    </th>
                    <th style="border: none;">
                    <center><a style="color: #081e47; font-weight: bold; text-align: center; font-size: 14px; padding-top: 20px;" href="#/app/medicamentosgenericos"><i class="icon ion-erlenmeyer-flask" style="color: #803e8a; font-size: 40px"></i>  <br>Medicamentos <br> Genéricos</a></center>
                    </th>
                    </tr>
                    <tr>
                        <th style="border: none;">
                    <center> <a style="color: #081e47; font-weight: bold; text-align: center; font-size: 14px; padding-top: 20px;" href="#/app/gasolineras"><i class="icon ion-soup-can" style="color: #93c120; font-size: 40px"></i>  <br>Gasolineras</a></center>
                    </th>
                    <th style="border: none;">
                    <center><a style="color: #081e47; font-weight: bold; text-align: center; font-size: 14px; padding-top: 20px;" ui-sref="app.mapaBancos"><i class="icon ion-calculator" style="color: #ffeb02; font-size: 40px"></i>  <br>Simulador de <br>Créditos</a></center>
                    </th>
                    </tr>
                </table>
            </div>
        </center>
        <div id="inicio-logoSuper" style="width: 60px; height: 30px; left: 35px; position: absolute; bottom: 15px;"></div>
        <div id="inicio-logoUnl" style="width: 60px; height: 30px; right: 35px; position: absolute; bottom: 12px;"></div>
    </ion-content>
</ion-view>