<ion-view view-title="Medicamentos Comerciales">
  
<div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Ingrese nombre del medicamento" ng-model="search">
    </label>
    <button class="button button-positive ion-ios-search-strong" ng-click="buscar()">Buscar</button>
  </div>
    
  <ion-content class="has-subheader">
      
    <ion-list >
           <ion-item href="#/app/medicamentoscomerciales/detallemed/{{item.idProducto}}/{{item.idPresentacion}}" ng-repeat="item in medicamentos">
                <p>{{item.nombreProducto}} {{item.nombrePresentacion}}</p>
           </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
